<!DOCTYPE html>
<html>

<head>
    <title>Dashboard - PLNR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Your Personal CSS BELOW this Line -->
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Plaster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gotu' rel='stylesheet'>
</head>

<body id="dashboard">

    <nav class="navbar navbar-expand-lg nav ">
        <a class="navbar-brand" href="#">PLNR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('newtask')}}">Create New Task <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="" src="../static/images/profile.png">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{url_for('login')}}">Logout</a>
              <!-- How do you log out user? -->
            </div>
          </div>
    </nav>

    <div class="intro col-12">
        <h1>Julia's Dashboard</h1>
    </div>

    <div class="dashboard row">
        <div class="card-deck col-xl-9 col-md-8 ">
            <div class="card col-md-8 ">
                <div class="card-body">
                    <h5 class="card-title">Class 1</h5>
                    <div class="tasks">
                        <p>Task 1</p>
                        <p>Task 2</p>
                        <p>Task 3</p>
                        <p>Task 4</p>
                        <p>Task 5</p>
                        <p>Task 6</p>
                    </div>
                </div>
            </div>

            <!-- there are some issues with the boxes not cascading down correctly -->
            <!-- could set a minimum card size -->

            <div class="card col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Class 2</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>

            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>

            <div class="card col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Class 3</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
            </div>

            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>

            <div class="card col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Class 4</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
            </div>
            

        </div>

        <div class="notes col-xl-2 col-md-3 col-sm-6">
            <p>Notes</p>
        </div>
    </div>






    <!-- Your Content ABOVE this Line -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>