{%extends "new_base.html"%}
{%block title%}Dashboard - PLNR{%endblock%}
{%block var%}dashboard{%endblock%}
{%block content%}
    <div class="intro col-12">
        <h1>{{name}}'s Dashboard</h1>
    </div>

    <div class="dashboard row">
        <div class="row col col-xl-9 col-md-8 col-11">
            {% for subject in deck %}
            <div class="box col col-xl-3 col-sm-5 col-10">
                <h6 class="">{{subject.name}}</h6>
                <div class="tasks">
                    {% for task in subject.tasks %}
                    <div class="Dropdown">
                        <p id="DropDown-Button">{{task.name}}</p>
                        <div class="Dropdown-Menu">
                            <p class="description">
                                Due: {{task.due_date}} <br>Notes: {{task.notes}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="notes col col-xl-2 col-md-3 col-sm-6 col-9">
            <h6>Notes</h6>
        </div>
        <a href="{{url_for('new_task')}}" class="float">
            <span class="plus">+</span>
        </a>
        <a href="{{url_for('new_subject')}}" class="float subicon">
            <i class="bi bi-file-plus"></i>
        </a>
    </div>
{%endblock%}